nav ul li a:hover{
  color: var(--white);
}
header .social-media a:hover i{
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.5);
}
header .social-media a:hover i.fa-facebook-f{
  color: #00f;
}
header .social-media a:hover i.fa-instagram{
  color: #ff002f;
}
header .social-media a:hover i.fa-twitter{
  color: #0ff;
}

/* skills */
@keyframes html {
  from{
    width: 0;
  }
  to{
    width: 80%;
  }
}
@keyframes css {
  from{
    width: 0;
  }
  to{
    width: 70%;
  }
}
@keyframes javascript {
  from{
    width: 0;
  }
  to{
    width: 60%;
  }
}
@keyframes ui-ux {
  from{
    width: 0;
  }
  to{
    width: 80%;
  }
}
@keyframes photography {
  from{
    width: 0;
  }
  to{
    width: 90%;
  }
}
