@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
/* navbar style */
.navbar{
  width: auto;
  display: flex;
  background: rgba(0,55,255,0.5);
  align-items: center;
  justify-content: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  position: fixed;
}
.navbar .logo{
  width: 40%;
}
.navbar .logo img{
  width: 20%;
}
.navbar .manus ul{
  display: flex;
  list-style: none;
}
.navbar .manus ul li a{
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  font-size: 22px;
  letter-spacing: 3px;
  transition: 0.5s;
}
.navbar .manus ul li a:hover{
  color: rgba(0, 153, 219,1);
}


.header{
  display: flex;
  background: rgba(0, 153, 219,1);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 50px 50px;
  height: 150vh;
}
.header .user-img{
  width: 50%;
}
.header .user-img img{
  width: 50%;
  border-radius: 30px 0 30px 0;
}
.info-content{
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* text styling */
.info-content .sm-text{
  font-size: 26px;
  text-transform: capitalize;
}
.info-content .big-text{
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.info-content .md-text{
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
}

/* social media icons */
.info-content .social-media{
  margin: 50px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.info-content .social-media a{
  text-decoration: none;
  color: #fff;
}
.info-content .social-media i{
  margin-right: 10px;
  border: 2px solid rgba(0,255,255,0.5);
  padding: 10px;
  width: 30px;
  border-radius: 10px 0 10px 0;
  transition: 0.5s;
  cursor: pointer;
}
.social-media i:hover{
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0,0.1);
}
.social-media .fb:hover{
  color: #00f;
}
.social-media .insta:hover{
  color: #ff035f;
}
.social-media .tweet:hover{
  color: #05e8d1;
}

/* buttons styling */
.btn{
  padding: 8px 5px;
  margin: 10px 5px;
  background: none;
  border: 1px solid rgba(0, 255, 255,0.5);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
}
.btn:hover{
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0,0.1);
}


/* section styling */
.section{
  padding: 50px 20px;
  font-family: 'Poppins', sans-serif;
}
.section h1{
  text-align: center;
  font-size: 44px;
  color: rgba(0, 153, 219,1);
  text-transform: uppercase;
}
.section-text{
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 0;
}


/* about section styling */
.about .paras{
  text-align: center;
  margin: 0 20%;
}
.hobbies{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.hobbies .box{
  width: 200px;
  background: rgba(0, 153, 219,0.5);
  margin-right: 30px;
  padding: 10px 15px;
  border-radius: 0 80px 30px;
}
.box .h-title{
  text-align: center;
  font-weight: 600;
}


/* education section styling */
.e-content{
  display: flex;
  margin-left: 20%;
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
}
.line{
  content: '';
  width: 1px;
  height: auto;
  background: #808080;
}


.edu-info{
  margin-left: 25px;
  width: 60%;
}
.edu-info-content{
  margin: 20px 0;
}
.edu-title{
  font-size: 22px;
  font-weight: 600;
}
.edu-which{
  font-size: 16px;
  margin: 10px 0;
}

/* skills section styling */
.wrapper{
  display: flex;
}
.technologies{
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  margin-bottom: 40px;
}
.title-content{
  display: flex;
  justify-content: space-between;
}
.title-content h2{
  font-size: 16px;
  margin-top: 10px;
}


.softwares{
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}
.bar{
  height: 15px;
  background: black;
  list-style: none;
  margin: 3px 0;
  border-radius: 30px;
}


/* technologies bar styling */
.html{
  width: 80%;
  background: rgba(0, 153, 219, 1);
  animation: html 2s ease-out;
}

.javascript{
  width: 50%;
  background: rgba(0, 153, 219, 1);
  animation: javascript 2s ease-out;
}

.css{
  width: 60%;
  background: rgba(0, 153, 219, 1);
  animation: css 2s ease-out;
}

.python{
  width: 45%;
  background: rgba(240, 189, 7, 1);
  animation: python 2s ease-out;
}

.c-lang{
  width: 55%;
  background: rgba(0, 153, 219, 1);
  animation: c-lang 2s ease-out;
}

.cpp-lang{
  width: 50%;
  background: rgba(0, 153, 219, 1);
  animation: cpp-lang 2s ease-out;
}

.java{
  width: 40%;
  background: rgba(240, 189, 7, 1);
  animation: java 2s ease-out;
}

.mysql{
  width: 60%;
  background: rgba(0, 153, 219, 1);
  animation: mysql 2s ease-out;
}

.asp-lang{
  width: 80%;
  background: rgba(0, 153, 219, 1);
  animation: asp-lang 2s ease-out;
}

/* technologies bar styling */
.visual-studio{
  width: 80%;
  background: rgba(0, 153, 219, 1);
  animation: visual-studio 2s ease-out;
}

.netbeans{
  width: 50%;
  background: rgba(0, 153, 219, 1);
  animation: netbeans 2s ease-out;
}

.office{
  width: 70%;
  background: rgba(0, 153, 219, 1);
  animation: office 2s ease-out;
}

.atom{
  width: 80%;
  background: rgba(0, 153, 219, 1);
  animation: atom 2s ease-out;
}

.vscode{
  width: 40%;
  background: rgba(240, 189, 7, 1);
  animation: vscode 2s ease-out;
}

.photoshop{
  width: 65%;
  background: rgba(0, 153, 219, 1);
  animation: photoshop 2s ease-out;
}

/* whole bar animation */
/* html */
@keyframes html {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

/* javascript */
@keyframes javascript {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}

/* css */
@keyframes css {
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}

/* python */
@keyframes python {
  0%{
    width: 0;
  }
  100%{
    width: 45%;
  }
}

/* c-lang */
@keyframes c-lang {
  0%{
    width: 0;
  }
  100%{
    width: 55%;
  }
}

/* cpp-lang */
@keyframes cpp-lang {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}

/* java */
@keyframes java {
  0%{
    width: 0;
  }
  100%{
    width: 40%;
  }
}

/* mysql */
@keyframes mysql {
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}

/* asp-lang */
@keyframes asp-lang {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

/* visual-studio */
@keyframes visual-studio {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

/* netbeans */
@keyframes netbeans {
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}

/* Office Suit */
@keyframes office {
  0%{
    width: 0;
  }
  100%{
    width: 70%;
  }
}

/* Atom IDE */
@keyframes atom {
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

/* VS Code IDE */
@keyframes vscode {
  0%{
    width: 0;
  }
  100%{
    width: 40%;
  }
}

/* Adobe Photoshop */
@keyframes photoshop {
  0%{
    width: 0;
  }
  100%{
    width: 65%;
  }
}


/* contact section styling */
.contact-info{
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  margin: 0 20%;
}
.contact-info li{
  text-align: left;
  font-size: 14px;
  color: rgba(55,55,55,0.8);
}
.contact-info li a{
  color: rgba(1, 255, 219,1);
  text-decoration: none;
}




/* footer */
.footer{
  background: rgba(0, 153, 219,1);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 120px;
}
.footer .social-media i{
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px solid rgba(255,255,255,0.5);
  padding: 10px;
  width: 15px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.footer .social-media a{
  text-decoration: none;
  color: #000;
}
.social-media i:hover{
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0,0.1);
}
.social-media .fb:hover{
  color: #00f;
}
.social-media .insta:hover{
  color: #ff035f;
}
.social-media .tweet:hover{
  color: #05e8d1;
}
.social-media .gmail:hover{
  color: #d11702;
}




/* hr line styling */
hr{
  border: 1px solid #fff;
}
