@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply shadow-none text-black bg-white;
  }

  body {
    @apply relative w-full h-full min-h-screen text-[#a6a6a6] bg-[url('/images/bg-dark.jpg')] bg-center bg-no-repeat bg-fixed bg-cover z-[1] before:absolute before:w-full before:h-full before:bg-black before:opacity-40 before:-z-[1];
  }

  .preloader {
    @apply fixed left-0 top-0 w-full h-full min-h-screen bg-black z-[999999];
  }

  .preloader .loader {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-[100px] font-black uppercase overflow-hidden before:content-[attr(data-loading-text)] before:text-[#333] after:absolute after:content-[attr(data-loading-text)] after:left-0 after:top-0 after:w-0 after:text-white after:overflow-hidden;
  }
  .preloader .loader::after {
    animation: pre-loading 6s infinite;
  }
}

/* ANIMATION KEYFRAMES */
@keyframes pre-loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
